{%extends 'base.html'%} 
{% load leaflet_tags %}
{%block main%}
<script>
    function map_init_basic (map, options) {
        {% for data in results  %}
            {% if data.forecast %}
                L.marker([{{data.latitude}},{{data.longitude}}]).addTo(map).bindPopup( "<b>{{data.name}}</b><br/> <b>Humidity:</b> {{data.forecast.relativeHumidity.value}} % <br/> <b> Temprature:</b> {{data.forecast.temperature}} {{data.forecast.temperatureUnit}}");
                {% else %}
                L.marker([{{data.longitude}},{{data.latitude}}]).addTo(map).bindPopup( "<b>{{data.name}}</b><br/> Data Not available..");

            {% endif %}
        {% endfor %}
    }
</script>
<div class="bg-white w-1/2 mx-auto shadow rounded">
    {% leaflet_map "map" callback="window.map_init_basic"  %}
</div>
{%endblock%}
